@font-face {
	font-family: 'dogicapixel';
	src:  url("../font/dogicapixel.ttf");
}

.pixel-font {
	font-family: 'dogicapixel';
}

.background {
	background: url('../img/ecran.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}