@font-face {
	font-family: 'pixelfont';
	src:  url("../font/pixelfont.ttf");
}

.pixel-font {
	font-family: 'pixelfont';
}

.btn {
    font-family: 'pixelfont';
}

html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.index-wallpaper {
	background: url(../img/wallpaper.png) no-repeat center center fixed;
}

/*body {
	background: url('../img/ecran.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  }*/