body {
	background: url('../img/fond_ecran_windows_xp.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: 85%;
	-o-background-size: cover;
}