.ecran {
    position: absolute;
    width: 110.5vh;
    height: 69%;
    top: 8%;
    left: 36.5vh;
    overflow: hidden;
    max-width: -moz-available;
    /*margin: auto;
	background: url('../img/fond_ecran_windows_xp.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: 100%;
	-o-background-size: cover;*/
}

.pc {
    background-image: url('../img/pc.png');
    height: 100vh;
    /*width: 100vw;*/
    background-size: auto 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.coffee {
    background: url('../img/coffee.png');
    position: absolute;
    border: none;
    object-fit: cover;
    width: 27vh;
    height: 42%;
    top: 58vh;
    left: 147vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.portable {
    background: url('../img/portable.png');
    position: absolute;
    border: none;
    object-fit: cover;
    width: 27vh;
    height: 42%;
    top: 58vh;
    left: 12vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.cleUSB {
    background: url('../img/usb.png');
    position: absolute;
    border: none;
    object-fit: cover;
    width: 27vh;
    height: 10%;
    top: 90vh;
    left: 30vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.veille {
    position: absolute;
    background: url('../img/power.png');
    border: none;
    height: 7%;
    width: 7vh; /*7*/
    object-fit: cover;
    bottom: 1%;
    left: 4vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.mail {
    position: absolute;
    background: url('../img/mail.png');
    border: none;
    height: 6%;
    width: 7vh;
    object-fit: cover;
    bottom: 1.8%;
    left: 10.9vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.chromeicon {
    position: absolute;
    background: url('../img/chrome.png');
    border: none;
    height: 7%;
    width: 7vh; /*7*/
    object-fit: cover;
    bottom: 1.2%;
    left: 19vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.horloge {
    position: absolute;
    background-image: url('../img/horloge_v3.png');
    height: 7%;
    width: 7vh;
    object-fit: cover;
    bottom: 1.3%;
    left: 102.5vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

body {
    background-color:rgb(220, 220, 220);
}

.sidebar {
	position: absolute;
    top: 7vh;
    /*bottom: 20vh;*/
    right: 3.5vh;
    /*padding: 58px 0 0;*/
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 40vh;
    z-index: 600;
  }

#sidebarMenu button {
    font-size: 2.5vh;
}

.ignorer{
    position: absolute;
    top: 60vh;
    right: 12.5vh;
    width: 22vh;
    height: 6%;
    font-size: 2.3vh;
}

#sidebarMenu li{
    font-size: 2vh;
}

#sidebarMenu ul{
    padding-left: 2.5rem;
    margin: 0;
}

.responsivepadding{
    padding: 5%;
}

.field {
    min-width: 200px;
    min-height: 30px;
    margin: 10px;
  }

.outlook{
    position: absolute;
    background: url('../img/Mail/outlook_structure.png');
    border: none;
    height: 80%;
    width: 81%;
    object-fit: cover;
    top: 6%;
    left: 6vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.opennedmail{
    background: url('../img/Mail/mail_disabled.png');
    object-fit: cover;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: none;
}

.newmail{
    background: url('../img/Mail/mail_selectionner.png');
    object-fit: cover;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: none;
}

/*.expediteurPatron{
    height: 3.5vh;
    width: 25.5vh;
    left: 0vh;
    position: absolute;
    top: 1vh;
}

.expediteurSylvie{
    height: 3.5vh;
    width: 25.5vh;
    left: 0vh;
    position: absolute;
    top: 7.5vh;
}*/

.maillist {
    position: absolute;
    height: 75.7%;
    width: 25.7vh;
    top: 23.5%;
    left: 0.8vh;
    font-size: 1.7vh;
}

.mailcontent{
    height: 39vh;
    width: 61.5vh;
    left: 27vh;
    position: absolute;
    top: 14.5vh;
}

.mails {
    height: 14.7%;
    width: 25.6vh;
}

.fishing {
    height: 4.5vh;
    width: 5.5vh;
    left: 83vh;
    position: absolute;
    top: 4vh;
    border: none;
    background: none;
}

.expediteur {
    height: 3.5vh;
    width: 53.5vh;
    left: 28vh;
    position: absolute;
    top: 4.5vh;
    font-size: 1.7vh;
}

.objet {
    height: 3.5vh;
    width: 53.5vh;
    left: 28vh;
    position: absolute;
    top: 9.5vh;
    font-size: 1.7vh;
}

.contenue {
    height: 19.5vh;
    width: 59.5vh;
    left: 28vh;
    position: absolute;
    top: 14.5vh;
    font-size: 1.7vh;
}

#lien{
    height: 4.5vh;
    width: 54.5vh;
    border: none;
    background-color: white;
    left: 30vh;
    position: absolute;
    top: 36.5vh;
    font-size: 1.7vh;
    z-index:10;
}

.exitbutton{
    height: 3vh;
    width: 4vh;
    right: 0.5vh;
    position: absolute;
    top: 0.5vh;
    border: none;
    background: none;
}

.chrome{
    position: absolute;
    background: url('../img/Navigateur/navigateur.png');
    border: none;
    height: 80%;
    width: 89%;
    object-fit: cover;
    top: 4%;
    left: 9vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.url{
    position: absolute;
    height: 6.6%;
    width: 26%;
    top: 10.7%;
    left: 16vh;
}

.amazoun{
    position: absolute;
    background: url('../img/Navigateur/acceuil_amazoun_v2.png');
    border: none;
    height: 83.6%;
    width: 101%;
    object-fit: cover;
    top: 18.5%;
    left: -1vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.crayon{
    position: absolute;
    background: url('../img/Navigateur/crayon.png');
    border: none;
    height: 21%;
    width: 61%;
    object-fit: cover;
    top: 25%;
    left: 8vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.amazounachat{
    position: absolute;
    background: url('../img/Navigateur/amazoun_v2.png');
    border: none;
    height: 84.5%;
    width: 101%;
    object-fit: cover;
    top: 17.2%;
    left: -1.2vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.achat{
    position: absolute;
    background: url('../img/Navigateur/bouton_achat.png');
    border: none;
    height: 14%;
    width: 29%;
    object-fit: cover;
    top: 79%;
    left: 57vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.chromeexit {
    height: 3vh;
    width: 3.5vh;
    right: 0.8vh;
    position: absolute;
    top: 0.8vh;
    border: none;
    background: none;
}

.ecranveille {
    height: 100%;
    width: 102%;
    left: -1%;
    position: absolute;
    top: 0;
    background: rgba(50, 50, 50, 0.9);
    border: none;
    z-index: 50;
}

@font-face {
	font-family: 'pixelfont';
	src:  url("../font/pixelfont.ttf");
}

.pixel-font {
	font-family: 'pixelfont';
}